* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#navMain {
    /* border: 2px solid purple; */
    background-color: #FF0000;
    height: 150px;


}


#nav1 {
    /* border: 2px solid yellow; */
    height: 150px;

    background-color: #FF0000;
}

#logo_search {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    position: relative;
    bottom: -50px;
    margin-right: 20%;
    height: 50px;


}

.logo img {
    /* border: #312E81 2px solid ; */
    margin-right: 300px;
    width: 150px;
}


input[type="text"] {

    width: 40%;
    height: 35px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    padding: 1vw 12px;
    background-color: #fff;
    border-color: #fff;

}

#side1 {
    /* border: 2px solid black; */
    margin-left: 70%;

    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: relative;
    top: -35px;




}

#side1 ul {
    list-style: none;

}

#side1 ul a {
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;

}


#side2 ul {
    list-style: none;
}

#side2 {
    /* border: 2px solid black; */
    margin-left: 70%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: relative;
    top: -25px;
}

#side2 ul a {
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
}

#menu {

    /* border: 2px solid green; */
    height: 60px;
    width: 100%;

    position: absolute;
    top: 119px;
    background-color: #312E81;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;



}

#menu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

#menu>ul a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    padding: 0 15px;
    font-weight: bold;
    display: block;



}

#menu ul li {

    float: left;
    position: relative;
    margin: 0 20px;
    padding: -5 3px;
}

#menu ul li:hover {
    background-color: #FF0000;
}

#menu ul ul {

    position: absolute;
    background-color: #4338CA;
    top: 100%;
    left: 0;
    display: none;
}

#menu ul ul li {
    float: none;
    width: 1000px;
}

#menu ul ul ul {
    top: 0px;
    left: 100%;
}

#menu ul li:hover>ul {
    display: block;
}

#menu ul li:hover>ul li {
    background-color: #4338CA;
}

/* nav end */

#slideshow {
    width: 500px;
}

#slideshow img {
    width: 1460px;
}


#slideshow2 img {
    width: 1460px;
}

#slideshow2 {
    width: 500px;
}

#all_iteams {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
    top: -30px;





}

img {
    width: 200px;

}

#all_iteams>div {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

#all_iteams p {
    color: rgb(40, 40, 138);
    font-family: "system-ui", sans-serif;
}

#all_iteams p:hover {
    color: #FF0000;
}

#all_iteams h6 {
    color: gray;
}



#MId1 {

    /* border: 2px solid blue; */
    padding-top: 4px;


}

#MId1 #heading {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px 2px 10px;
    color: #333;
    ;

}

#MId1 button {
    font-size: 20px;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    margin-top: 30px;
    background-color: #4338CA;
    border-color: #4338CA;
    color: #fff;
    border-radius: 5px;
}

#BottomDiv {
    /* border: #FF0000 2px solid; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#BottomDiv1 {

    /* border:blue 2px solid; */
    display: flex;
}

#BottomDiv1 #miss {
    display: flex;
    padding: 30px 10px 0 0;
    margin: auto;
    position: relative;
    top: -10px;
}

#miss img {
    width: 250px;
}

#BottomDiv2 {

    /* border:blue 2px solid; */
    display: flex;
    margin-top: 10px;
}

#BottomDiv2 #miss2 {
    display: flex;
    padding: 30px 10px 0 0;
    margin: auto;
    position: relative;
    top: -10px;
    overflow-clip-margin: content-box;

}

#miss2 img {
    width: 250px;
}

#bottom_heading {
    color: #333;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: .7em;
    padding: 0 10px 2px 80px;

}

#slideshow3 {
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 12px;
    background-color: #bbb9b9;
}

#slideshow3 img {
    width: 1460px;
    margin-top: 10px;
}

#lastDiv {
    /* border: 2px solid yellow; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

#lastDiv #heading {
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;

}

#lastDiv #heading button {
    width: 90px;
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
}

#lastDiv #heading h2 {
    color: #0e0d0d;
    ;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;


}

#lastDiv1 {
    /* border: 2px solid blue; */
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#lastDiv1 img {
    width: 240px;

    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
}

#lastDiv #A #lastDiv1 #B {
    /* border: 5px solid green; */
    display: flex;
    padding-left: 30px;
    margin-left: 100px;
    padding-right: 30px;

}

#lastDiv1 #B img {
    width: 150px;





}

#lastDiv1 #B>div {
    text-align: justify;
    /* text-align: center; */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#footer {
    /* border: blue solid 4px; */
    background-color: rgb(40, 40, 138);
    ;
}

#footerAll {
    /* border: green solid 4px; */
    justify-content: space-evenly;
}

#section1 {
    /* border: pink solid 4px; */
    margin-right: 20px;
    margin-left: 40px;
}

/* #section1 #box{
    /* border: 2px solid #312E81; */
/* } */
#footerAll {
    display: flex;
}

#section2 {
    /* border: rgb(148, 29, 49) solid 4px; */
    margin-right: 20px;
    margin-left: 40px;
}

#section3 {
    /* border: rgb(206, 24, 54) solid 4px; */
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 100px;
}

#section4 {
    /* border: rgb(49, 29, 148) solid 4px; */
    margin-right: 20px;
    margin-left: 40px;
}

.downFooter1 {
    /* border:black 2px solid; */
    width: 150px;
    margin-left: 110px;
    margin-bottom: 100px;


}

.downFooter {
    /* border:black 2px solid; */
    display: flex;

}

.downFooter4 {
    /* border:green 2px solid; */
    width: 300px;
    margin-left: 270px;
    padding-top: 0;

    margin-bottom: 30px;

}

#section4 #box4 ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;

    font-family: Roboto, "system-ui", sans-serif;
    font-weight: 400px;
    color: #fff;
}

li {
    list-style: none;
}

#section1 #box1 ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;

    font-family: Roboto, "system-ui", sans-serif;
    font-weight: 400px;
    color: #fff;

}

#section2 #box2 ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    color: #fff;

    font-family: Roboto, "system-ui", sans-serif;
    font-weight: 400px;
}

#section3 #box3 ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    color: #fff;

    font-family: Roboto, "system-ui", sans-serif;
    font-weight: 400px;
}

#heading1 {
    margin-left: 40px;

}

#heading1 h3 {
    color: #fff;
    ;


}

#heading2 {
    margin-left: 40px;
}

#heading2 h3 {
    color: #fff;
    ;


}

#heading3 h3 {
    color: #fff;
    ;


}

#heading4 h3 {
    color: #fff;
    ;


}

#heading4 {
    margin-left: 40px;
}

.downFooter2 h3 {
    color: #fff;
}

.downFooter5 h3 {
    color: #fff;
}

.endpage {
    /* border:2px solid red; */
    height: 150px;
    background-color: #005792;
    position: relative;
    top: -20px;
}

.endpage p {
    text-align: center;
    line-height: 17px;
    color: #fff;
}

.ending p {
    text-align: center;
    color: #fff;

}

.ending {

    /* border:2px solid red; */
    background-color: #005792;

    position: relative;
    top: -20px;
    height: 50px;
}

.ending .endingA {
    background-color: #005792;
    /* border:2px solid yellow; */
    text-align: center;
    color: #fff;
}